<% if (post.prev || post.next) { %>
  <nav id="post-nav">
    <% if (post.prev) { %>
      <a href="<% url_for(post.prev.path) %>" id="post-nav-newer" class="post-nav-link-wrap">
        <strong class="post-nav-caption">Newer</strong>
        <span class="post-nav-title">
          <% if (post.prev.title) { %>
            <%= post.prev.title %>
          <% } else { %>
            (no title)
          <% } %>
        </span>
      </a>
    <% } %>

    <% if (post.next) { %>
      <a href="url_for(post.next.path)" id="post-nav-older" class="post-nav-link-wrap">
        <strong class="post-nav-caption">Older</strong>
        <span class="post-nav-title">
          <% if (post.next.title) { %>
            <%= post.next.title %>
          <% } else { %>
            (no title)
          <% } %>
        </span>
      </a>
    <% } %>
  </nav>
<% } %>
