<div class="social-link">
  <div class="copyright">
    Touching Research is written by <a href="/about" alt="Mandy Tjew A Sin">Mandy Tjew A Sin</a>, <br/>licensed under a <a href="http://creativecommons.org/licenses/by/4.0/" alt="Creative Commons Attribution 4.0 International License">CCA4 License</a> and designed by <a href="https://twitter.com/svdb" alt="@svdb">@svdb</a>.
  </div>
</div>
