<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='alternate' type='application/rss+xml' title='RSS' href='/atom.xml'>
<title><%= theme.title %></title>
<%- css(['css/pure-min.css', 'css/grids-responsive-min.css', 'css/screen.css']) %>
